* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* inizio top header */

.top-container {
    padding: 10px 0;
    display: flex;
    align-items: center;
    height: 84px;
}

.header-top {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container, .login-container {
    width: 20%;
    padding: 5px;
}

.menu {
    width: 60%;
    padding: 5px;
}

.menu ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.menu ul li {
    margin: 0 5px;
}

.login-container {
    text-align: right;
}

/* fine top header */


/* inizio sezione hero */

.hero-container {
    display: flex;
    align-items: center;
    height: 500px;
}

.hero {
    width: 50%;
    margin: auto;
}

/* fine sezione hero */

/* inizio sezione main */

.main-section {
    height: 600px;
    padding: 50px 0;
    position: relative;
}

.main-section:last-child {
    height: 1000px;
}

.main-section:nth-child(even) {
    background-color: #f6f6f6;
}

/* onde */

.wave1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave1 svg {
    position: relative;
    display: block;
    width: calc(157% + 1.3px);
    height: 69px;
}

.wave1 .shape-fill {
    fill: #F6F6F6;
}

.wave2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave2 svg {
    position: relative;
    display: block;
    width: calc(123% + 1.3px);
    height: 85px;
}

.wave2 .shape-fill {
    fill: #fff;
}

/* fine onde */

.section-container {
    width: 70%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-container.reverse {
    flex-direction: row-reverse;
}

.img-section {
    width: 70%;
}

.text-section {
    width: 30%;
}

/* fine sezione main */

/* inizio footer */

footer {
    height: 600px;
    background-color: rgb(37, 39, 42);
}

.top-footer {
    padding: 10px 0 20px 0;
    border-bottom: 1px solid white;
    height: 500px;
}

.contacts {
    display: flex;
    width: 70%;
    margin: auto;
    height: 100%;
}

.column.social {
    width: 30%;
}

.column {
    width: calc(70% / 4);
}

.bottom-footer {
    padding-top: 20px;
    height: 100px;

}

.btm-footer-container {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo, .footer-button {
    padding: 5px;
}

/* fine footer */

/* inizio codice debug */

.header-top.debug {
    background-color: goldenrod;
}

.top-container.debug {
    background-color: lightblue;    
}

.hero-container.debug {
    background-color: darkblue;
    
}

.debug {
    border: 1px dotted black;
}

.hero.debug {
    background-color: violet;
    height: 80%;
}

.text-section.debug {
    background-color: pink;
}

.img-section.debug {
    background-color: blue;
}

.section-container.debug {
    background-color: darkgreen;
}

.column.social.debug {
    background-color: palevioletred;
}

.column.debug {
    background-color: cadetblue;
}

.btm-footer-container.debug {
    background-color: aquamarine;
}

.logo.debug, .footer-button.debug {
    background-color: palevioletred;
}


/* fine codice debug */
